@import '../../node_modules/normalize.css/normalize.css';
@import "./themes";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  color: $color-text;
  background: $color-main-bg;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  color: $color-text;
  font-weight: bold;
  margin: 0;
}
