//colors
$color-body-bg: #000d29;
$color-header-bg: #118c8b;
$color-text: #bca18d;
$color-important: #f2746b;
$color-dangerous: #f14d49;

//paddings

$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 15px;
$padding-xl: 20px;

$no-padding: 0;
