//colors
$color-main-bg: #F8F8F8;
$color-text: #E37222;
$color-block-bg-solid: #07889B;
$color-block-bg-soft: #EEAA7B;
$color-header-bg: #66B9BF;

//paddings
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 15px;
$padding-xl: 20px;
$no-padding: 0;
