body {
  background: #000D29;
  color: #BCA18D;
}

/*user styles*/
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.block-list {
  display: flex;
  flex-flow: row wrap;
}
.block {
  width: 33%;
  margin-bottom: 10px;
}
