header {
    padding: 15px 0;
    background: #118C8B;
    color: #000D29;

    &-block {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    &-menu {
        margin: 0;
        padding: 0;
        background: transparent !important;

        &__item {
            list-style: none;
        }
    }
}
