header {
    padding: 15px 0;
    background: #118C8B;
    color: #000D29;
}
.header-block {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.header__description {
    margin: 0 15px 0 0;
    padding: 0;
}
.header__description-text {
    margin: 0;
    padding: 0;
}
.header-menu {
    margin: 0;
    padding: 0;
}
.header-menu__item {
    list-style: none;
}
