.comment {
    width: 500px;
    margin: 0 auto;

    &__item {
        list-style: none;
        margin-bottom: 10px;

        &:not(:last-child) {
            border-bottom: 1px solid #fff;
        }
    }

    &__text {
        font-style: italic;
        font-size: .9rem;
        text-align: left;
        word-break: break-all;
    }

    &__zero {
        text-align: center;
    }
}
