body {
  background: #005A31;
  color: #fff;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*user styles*/
* {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.block-list {
  display: flex;
  flex-flow: row wrap;
}
.block {
  width: 33%;
  margin-bottom: 10px;
}

.pagination {
  margin: 0;
  padding: 0;
  text-align: right;
}
.pagination__item {
  list-style: none;
  display: inline-block;
  margin: 5px;
}
.pagination__link {
  display: block;
  padding: 5px;
  color: #fff;
  border: 1px solid #fff;
}